<!DOCTYPE html>
<html>
<head>
	<title>Segunda Revision</title>
	<link rel="stylesheet" type="text/css" href="CSS/estilosDirectora.css">
	<img src="imagenes/UNACH-LOGO.png"> <br />
</head>
<body bgcolor="#C2B91F">
	<h1>Validacion de Carta</h1> <br />
	<ol>
		<li><a href="formatos/Formato3.pdf">Visualizar carta1</a>
			<label><input type="checkbox" id="cbox1" value="first_checkbox"> Aprobacion </label>
			<button>Enviar a rectoria</button>
		</li>
		<br />
		<li><a href="formatos/Formato3.pdf">Visualizar carta2</a>
			<label><input type="checkbox" id="cbox1" value="first_checkbox"> Aprobacion </label>
			<button>Enviar a rectoria</button>
		</li>
		<br />
		<li><a href="formatos/Formato3.pdf">Visualizar carta3</a>
			<label><input type="checkbox" id="cbox1" value="first_checkbox"> Aprobacion </label>
			<button>Enviar a rectoria</button>
		</li>
		<br />
		<li><a href="formatos/Formato3.pdf">Visualizar carta4</a>
			<label><input type="checkbox" id="cbox1" value="first_checkbox"> Aprobacion </label>
			<button>Enviar a rectoria</button>
		</li>
		<br />
		<li><a href="formatos/Formato3.pdf">Visualizar carta5</a>
			<label><input type="checkbox" id="cbox1" value="first_checkbox"> Aprobacion </label>
			<button>Enviar a rectoria</button>
		</li>
	</ol>
</body>
</html>