<!DOCTYPE html>
<html>
<head>
	<title>Primera Revision</title>
	<link rel="stylesheet" type="text/css" href="CSS/estilosDoctor.css">
	<img src="imagenes/UNACH-LOGO.png"> <br />
</head>
<body bgcolor="#C2B91F">
	<h1>Revisar Cartas</h1> <br />

	<ol>
		<li><a href="formatos/Formato3.pdf">Visualizar carta1</a> 
			<label><input type="checkbox" id="cbox1" value="first_checkbox"> Aprobacion </label>
			<button>Enviar para siguente validacion</button><br><br>
			<textarea name="comentarios" rows="10" cols="40">Escribe aquí tus observaciones</textarea>
			<button>Regresar para correcciones</button><br><br><br>
		</li>
		<li><a href="formatos/Formato3.pdf">Visualizar carta2</a>
			<label><input type="checkbox" id="cbox1" value="first_checkbox"> Aprobacion </label>
			<button>Enviar para siguente validacion</button><br><br>
			<textarea name="comentarios" rows="10" cols="40">Escribe aquí tus observaciones</textarea>
			<button>Regresar para correcciones</button><br><br><br>
		</li>
		<li><a href="formatos/Formato3.pdf">Visualizar carta3</a>
			<label><input type="checkbox" id="cbox1" value="first_checkbox"> Aprobacion </label>
			<button>Enviar para siguente validacion</button><br><br>
			<textarea name="comentarios" rows="10" cols="40">Escribe aquí tus observaciones</textarea>
			<button>Regresar para correcciones</button><br><br><br>
		</li>
		<li><a href="formatos/Formato3.pdf">Visualizar carta4</a>
			<label><input type="checkbox" id="cbox1" value="first_checkbox"> Aprobacion </label>
			<button>Enviar para siguente validacion</button><br><br>
			<textarea name="comentarios" rows="10" cols="40">Escribe aquí tus observaciones</textarea>
			<button>Regresar para correcciones</button><br><br><br>
		</li>
		<li><a href="formatos/Formato3.pdf">Visualizar carta5</a>
			<label><input type="checkbox" id="cbox1" value="first_checkbox"> Aprobacion </label> 
			<button>enviar para siguiente validacion</button><br><br>
			<textarea name="comentarios" rows="10" cols="40">Escribe aquí tus observaciones</textarea>
			<button>Regresar para correcciones</button><br><br><br>
		</li>
	</ol>

</body>
</html>