<!DOCTYPE html>
<html>
<head>
	<title> Recibir Cartas de Postulacion </title>
	<link rel="stylesheet" type="text/css" href="CSS\estilosLetty.css">
	<img src="imagenes/UNACH-LOGO.png"> <br />
</head>
<body bgcolor="#C2B91F">
	<h1>Recepcion de Cartas</h1>
		<p>
			Seleccionar para visualizar una carta, despues redactar la carta del formato 3 y subirla en el sigueinte campo para enviarla al doctor:
		</p>

		<ol>
			<li><a href="formatos/Formato2.pdf">Visualizar Carta1</a> <br /></li>
			<li><a href="formatos/Formato2.pdf">Visualizar Carta2</a> <br /></li>
			<li><a href="formatos/Formato2.pdf">Visualizar Carta3</a> <br /></li>
			<li><a href="formatos/Formato2.pdf">Visualizar Carta4</a> <br /></li>
			<li><a href="formatos/Formato2.pdf">Visualizar Carta5</a> <br /></li>
			<li><a href="formatos/Formato2.pdf">Visualizar Carta6</a> <br /></li>
			<li><a href="formatos/Formato2.pdf">Visualizar Carta7</a> <br /></li>
			<li><a href="formatos/Formato2.pdf">Visualizar Carta8</a> <br /></li>
			<li><a href="formatos/Formato2.pdf">Visualizar Carta9</a> <br /></li>
			<li><a href="formatos/Formato2.pdf">Visualizar Carta10</a> <br /></li>
		</ol>
<br />
<br />
<h3>Subir formato3 para enviar</h3>
	<form>
		<input type="file" name="adjunto" accept=".pdf"> <button>Enviar</button>
	</form>
	

</body>
</html>