<!DOCTYPE html>
<html lang="es">
<head>
	
	<title>404 - Categoría no encontrada</title>
        
        <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        
        <link href="/templates/unach-template-17/css/app.css" rel="stylesheet" />
        <script src="/media/jui/js/jquery.min.js">
               
                </script>
</head>
	<body>
            <header>
        <div class="logo-busqueda">
            <div class="logo">
                <a href="" ><img  src="https://www.unach.mx/templates/unach-template-17/images/unach.jpg" alt="" /></a>
            </div>
            <div class="buscador-idioma-correo">
                <div class="idioma">
                    <jdoc:include type="modules" name="traductor" style="none"/>
                </div>
                <div class="buscador-correo">

                    <div class="desplegables">

                        <div class="buscador">


                            <div class="form-buscador"><jdoc:include type="modules" name="buscador" style="none"/></div>


                        </div>
                                        

                        <div class="login-unet">
                            <form class="form-correo" method="post" target="_blank" action="https://une-t.unach.mx/action/login/acceso" enctype="application/x-www-form-urlencoded" name="login">
                                <div class="formulario">
                                    <div class="form-usuario">
                                        <label for="usuario-login" class="element-invisible" aria-invalid="false">Usuario</label>
                                        <input type="text" name="username" id="usuario-login" placeholder="Usuario" required="required">
                                    </div>

                                    <div class="form-passwd">
                                        <label for="contra-login-unet" class="element-invisible">Contraseña</label>
                                        <input type="password" id="contra-login-unet" name="password" placeholder="Contraseña" required="required">
                                    </div>


                                    <div class="btn-submit">
                                        <button type="submit" class="button" name="loginbutton">Entrar</button>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>
                    <div class="iconos">
                        
                    </div>
                </div>
            </div>
        </div>
    </header>

      <nav>
            <

        </nav>       
            
            
            <div id="all" class="contenedor">
			<div id="back">
				
				<div id="contentarea2" >
					
					<div id="wrapper2">
						<div id="errorboxbody">
                                                    <h2>
								#404&nbsp;Categoría no encontrada							</h2>
                                                    <hr/>
                                                    <h3>
								<a href="/index.php" title="Ir a la página de inicio">Página de inicio</a>
								</h3>
							<h2>
								No se puede encontrar la página solicitada.							</h2>
							
							<p>No puede visitar esta página debido a:</p>
							<ul>
								<li>Un <strong>marcador o favorito caducado</strong></li>
								<li>Una <strong>dirección mal escrita</strong></li>
								<li>Un motor de búsquedas que tiene un <strong>listado caducado para este sitio</strong></li>
								<li>Usted no tiene <strong>acceso</strong> a esta página</li>
							</ul>
							
							<div><!-- start goto home page -->
								
							</div><!-- end goto home page -->
							
							
														<br />
						</div><!-- end errorboxbody -->
					</div><!-- end wrapper2 -->
				</div><!-- end contentarea2 -->
							</div><!--end back -->
		</div><!--end all -->
		    <footer>
        <div class="contenedor">
            <div class="menu-footer">
                <ul class="nav-footer">
                
                    <li class="item-178"><a target="_blank" rel="noopener noreferrer"  href="http://www.unach.mx/terminos-y-condiciones-de-uso">Términos y Condiciones de Uso</a></li>

                    <li class="item-179"><a target="_blank" rel="noopener noreferrer" href="Error